main {
  width: 100%;
  display: flex;
  border: 1px solid black;
  padding: 1em;
  font-size: larger;
  /* text-align: center; */
}

.left {
  width: 30vw;
  border: 1px solid;
  justify-content: space-around;
}

.center {
  width: 50vw;
  border: 1px solid red;
}

table {
  margin: 0 auto;

}

.edit {
  padding: 0;
  border: none;
  background: none;
  align-items: center;
}

.inside-form {
  display: flex;
  gap: 3px;
  /* justify-items: last baseline; */
  /* align-items: center; */
}

.btn {
  border: 1px solid;
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
}
